.btn-reset {
  font-size: 18px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #000000;
}

.units {
  display: none;
}

.unit-current {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}
